<div class="features_items">
  <% for p in products.list %>
    <%
      u = ""
      if params.has :products_by_department_slug
        u += "/department/" + params.get(:products_by_department_slug)
      end
      if params.has :products_by_category_slug
        u += "/category/" + params.get(:products_by_category_slug)
      end
      if params.has :products_by_brand_slug
        u += "/brand/" + params.get(:products_by_brand_slug)
      end
      u += "/product/" + p.slug
    %>
    <div class="col-sm-4">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center h-productinfo">
            <% if not p.images.empty? %>
              <img src="<%= asset "transparent.png" %>" style="background-image: url(<%= p.images.first.url_512 %>);" />
            <% end %>
            <h2><%= format p.price, :as_currency %></h2>
            <p><%= p.name %></p>
            <a href="<%= u %>" class="btn btn-default add-to-cart">
              <i class="fa fa-arrow-right"></i>Visit
            </a>
          </div>
          <div class="product-overlay h-product-overlay">
            <div class="overlay-content h-overlay-content">
              <img src="<%= asset "transparent.png" %>" />
              <h2><%= format p.price, :as_currency %></h2>
              <p><%= p.name %></p>
              <a href="<%= u %>" class="btn btn-default add-to-cart">
                <i class="fa fa-arrow-right"></i>Visit
              </a>
            </div>
          </div>
        </div>
        <div class="choose">
          <ul class="nav nav-pills nav-justified">
            <li>
              <a href="<%= u %>">
                <i class="fa fa-arrow-right"></i>Visit
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>