<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= website.name %></title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" />
    <link href="<%= asset "prettyPhoto.css" %>" rel="stylesheet">
    <link href="<%= asset "priceRange.css" %>" rel="stylesheet">
    <link href="<%= asset "animate.css" %>" rel="stylesheet">
    <link href="<%= asset "main.css" %>" rel="stylesheet">
    <link href="<%= asset "responsive.css" %>" rel="stylesheet">
    <link href="<%= asset "site.css" %>" rel="stylesheet">
    <style>
      .search_box input {
        background-image: url(<%= asset "searchicon.png" %>) !important;
      }
    </style>
  </head>

  <body>
    <header id="header"><!--header-->
      <div class="header_top"><!--header_top-->
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="contactinfo">
                <ul class="nav nav-pills">
                  <li><a href="#"><i class="fa fa-phone fa-fw"></i><%= company.phone %></a></li>
                  <li><a href="#"><i class="fa fa-envelope fa-fw"></i><%= company.email %></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="social-icons pull-right">
                <ul class="nav navbar-nav">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!--/header-->
      </div><!--/header_top-->

      <div class="header-middle"><!--header-middle-->
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="logo pull-left">
                <a href="/">
                  <% if company.logos.empty? %>
                    <%= company.name %>
                  <% else %>
                    <img src="<%= company.logos.first.url_128 %>" />
                  <% end %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div><!--/header-middle-->

      <div class="header-bottom"><!--header-bottom-->
        <div class="container">
          <div class="row">
            <div class="col-sm-9">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="mainmenu pull-left">
                <ul class="nav navbar-nav collapse navbar-collapse">
                  <li><a href="/" class="active">Home</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="search_box pull-right">
                <form class="navbar-form navbar-right s-navbar-form" action="/search" role="search">
                  <input type="text" name="products_similar_to" placeholder="Search" value="<%= params.get :products_similar_to %>" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!--/header-bottom-->
    </header><!--/header-->

    <% if url.path == "/" %>
      <%= partial "carousel" %>
    <% end %>
    
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="left-sidebar">
              <%= partial "menu" %>
            </div>
          </div>

          <div class="col-sm-9 padding-right">
            <%= content %>
          </div>
        </div>
      </div>
    </section>

  <footer id="footer"><!--Footer-->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2016 Real y Medio. Todos los derechos reservados.</p>
          <p class="pull-right">Designed by <span><a target="_blank" href="https://twitter.com/themeum">Themeum</a></span></p>
        </div>
      </div>
    </div>

  </footer><!--/Footer-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
  <script src="<%= asset "jquery.scrollUp.min.js" %>"></script>
  <script src="<%= asset "jquery.prettyPhoto.js" %>"></script>
  <script src="<%= asset "jquery.priceRange.js" %>"></script>
  <script src="<%= asset "main.js" %>"></script>
  <script src="<%= asset "site.js" %>"></script>
  </body>
</html>